@import "tailwindcss";

@layer utilities {
  .container {
    @apply mx-auto w-full px-4
           xl:max-w-[947px]
           2xl:max-w-[1184px];
  }
}


.error-message {
    @apply text-red-500 mt-1;
}